@model System.Data.DataTable

@{
    ViewBag.Title = "GasBill";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h4 class="text-themecolor">Gas Bills</h4>
    </div>
    <div class="col-md-7 align-self-center text-right">
        <div class="d-flex justify-content-end align-items-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                <li class="breadcrumb-item active">Gas Bills</li>
            </ol>
            <button type="button" class="btn btn-info d-none d-lg-block m-l-15"><i class="fa fa-plus-circle"></i> Create New</button>
        </div>
    </div>
</div>

<div class="col-md-12">
    <div class="card">
        <!-- Nav tabs -->
        <!-- Tab panes -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                     
                        <div class="table-responsive m-t-40">
                            <table id="example23" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>Month</th>
                                        <th>Paid Date</th>
                                        <th>Amount</th>
                                        <th>Edit</th>
                                        <th>Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = 0; i < Model.Rows.Count; i++)
                                    {


                                        <tr>
                                            <td>@Model.Rows[i][0]</td>
                                            <td>@Model.Rows[i][1]</td>
                                            <td>@Model.Rows[i][2]</td>

                                            <td><a href="#">Edit</a></td>
                                            <td><a href="#">Delete</a></td>
                                        </tr>

                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
