@model System.Data.DataTable
@{
    ViewBag.Title = "StudentDetails";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<!-- Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h4 class="text-themecolor">Datatable</h4>
    </div>
    <div class="col-md-7 align-self-center text-right">
        <div class="d-flex justify-content-end align-items-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                <li class="breadcrumb-item active">Datatable</li>
            </ol>
            <button type="button" class="btn btn-info d-none d-lg-block m-l-15"><i class="fa fa-plus-circle"></i> Create New</button>
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive m-t-40">
                    <table id="example23" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                <th>    ID            </th>
                                <th>    RoleID             </th>
                                <th>    Name                   </th>
                                <th>    Phone                    </th>
                                <th>    Address               </th>
                                <th>    Status                  </th>
                                <th>    Username               </th>
                                <th>    Password             </th>
                                <th>    RankID                   </th>
                                <th>    NationalityID                 </th>
                                <th>    EducationID                     </th>
                                <th>    ExperienceID             </th>
                                <th>    ReligionID             </th>
                                <th>    AppointmentDate         </th>
                                <th>    TerminationDate       </th>
                                <th>    DateOfBirth                </th>
                                <th>    Phone2              </th>
                                <th>    Email                   </th>
                                <th>    Comments            </th>
                                <th>    Actions            </th>

                            </tr>
                        </thead>
                    <tbody id="body"></tbody>

                    </table>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- ============================================================== -->
<!-- End PAge Content -->
<script src="~/Scripts/jquery-3.4.1.min.js"></script>

<script>
    $(document).ready(function () {
        debugger
        GetData()
    })

    function GetData() {
        $('#body').empty();
        $.ajax({
            url: '/User/GetUsers',
            Type: 'GET',
            dataType: 'json',
            contentType: 'application/json;charset=utf-8',
            success: function (result) {
                var row = "";
                $.each(result, function (key, value) {
                    rows = '<tr>'
                    + '<td>' + value.ID + '</td>'
                    + '<td>' + value.RoleID + '</td>'
                    + '<td>' + value.Name + '</td>'
                    + '<td>' + value.Phone + '</td>'
                    + '<td>' + value.Address + '</td>'
                    + '<td>' + value.Status + '</td>'

                    + '<td>' + value.Username + '</td>'
                    + '<td>' + value.Password + '</td>'
                    + '<td>' + value.RankID + '</td>'
                    + '<td>' + value.NationalityID + '</td>'
                    + '<td>' + value.EducationID + '</td>'
                    + '<td>' + value.ExperienceID + '</td>'
                    + '<td>' + value.ReligionID + '</td>'
                    + '<td>' + value.AppointmentDate + '</td>'
                    + '<td>' + value.TerminationDate + '</td>'
                    + '<td>' + value.DateOfBirth + '</td>'
                    + '<td>' + value.Phone2 + '</td>'
                    + '<td>' + value.Email + '</td>'
                    + '<td>' + value.Comments + '</td>'


                    + '<td><input type="button" class="btn btn-primary edit" value="Edit" > <input type="button" class="btn btn-danger delete" value="Delete"></td>'
                    '</tr>'
                    $('#body').append(rows);
                })
            },
            error: function (result) {
            }
        })
    }

</script>